Basic Data Cleaning scripts

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/home/natalie/anaconda3/envs/insight/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/natalie/anaconda3/envs/insight/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [12]:
df_test=pd.read_csv('DC2/test_results.csv', parse_dates=True)

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316800 entries, 0 to 316799
Data columns (total 9 columns):
Unnamed: 0          316800 non-null int64
user_id             316800 non-null int64
timestamp           316466 non-null object
source              316488 non-null object
device              316800 non-null object
operative_system    296461 non-null object
test                316800 non-null int64
price               316800 non-null float64
converted           316800 non-null int64
dtypes: float64(1), int64(4), object(4)
memory usage: 21.8+ MB

### 1. Check for NAs

In [7]:
na_list=df_test.isna().sum()
na_list/len(df_test) # percentage

Unnamed: 0          0.000000
user_id             0.000000
timestamp           0.001054
source              0.000985
device              0.000000
operative_system    0.064201
test                0.000000
price               0.000000
converted           0.000000
dtype: float64

Drop NAs

In [8]:
df_test_clean=df_test.dropna()

#how many nas were droped
nas=len(df_test)-len(df_test_clean)
nas

20959

In [ ]:
#drop na based on specific columns
df=df.dropna(subset=['photoID', 'rater1', 'rater2'])

### Replace Values or specific values in columns

Remove rows where a value in a specific column is in a defined series. Ex, we have a series of users who we want to exclude, now drop all the rows with that userid

In [9]:
df_test_test=df_test[(df_test['test']==1)]
df_test_wrong=df_test_test[(df_test_test['price']!=59.0)]

#same thing for errors in the control group
df_test_control=df_test[(df_test['test']==0)]
df_contol_wrong=df_test_control[(df_test_control['price']!=39.0)]


#users to be droped b/c incorrect classification into 'test' or 'control' group
wrong_users=np.concatenate([df_test_wrong['user_id'], df_contol_wrong['user_id']])
wrong_users=list(wrong_users)
df_test_clean=df_test_clean[~df_test_clean['user_id'].isin(wrong_users)] 
# The ~ means not in this group

In [ ]:
#replace values in column

Xordinal['company_id']=Xordinal['company_id'].map({1: 'a', 2: 'b', 3:'c', 4:'d', 5:'e', 6:'f', 7:'g', 8:'h', 9:'i', 10:'j', 11:'k', 12:'l'})

### Date maniuplations

Dates

In [ ]:
#need to convert timestamp column into actual timestamp, currently it is an object
df_test_clean['date']=pd.to_datetime(df_test_clean['date'])

In [ ]:
#Let's create a year and month column so we can group by these variables
df_emp['join_month']=df_emp['join_date'].apply(lambda x: x.month)

In [ ]:
df_emp['days_emp']=np.where(df_emp['quit_date'].notna(), (df_emp['quit_date']-df_emp['join_date']), (pd.to_datetime('2015-12-13')-df_emp['join_date']))

In [ ]:
#convert time delta to interger of days
df_emp['days_emp']=df_emp['days_emp'].apply(lambda x: x.days)